[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
ansible = {path = ".",editable = true}
boto3 = "*"

[requires]
python_version = "2.7"
