[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = "*"
cryptography = "*"
"Jinja2" = "*"
PyYAML = "*"
"e1839a8" = {editable = true, path = "."}
linode-python = "*"

[dev-packages]

[requires]
python_version = "3.7"
